@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
button {
  border: 0;
}
a {
  text-decoration: none;
}
.tableSec {
  padding: 16px 24px 0 29px;
}
.tableContent {
  border-spacing: 0;
  border-color: unset;
  border-collapse: collapse;
  /* width: 1319px; */
}
.currentPage-identityManagement {
  line-height: 23px;
  width: 24%;
}
.tableContent th {
  width: 184px;
  height: 50px;
  border: 1px solid #f5f5f5;
  background-color: #c4c4c4;
  font-size: 13px;
}
td {
  text-align: center;
  height: 45px;
  font-size: 14px;
}
.EnabledBtn {
  width: 90px;
  height: 28px;
  border-radius: 20px;
  margin-left: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  background-color: #69c536;
}
.disableBtn {
  width: 90px;
  height: 28px;
  background-color: #ff3d3d;
  border-radius: 20px;
  margin-left: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}

.trustLevel-circle1 {
  border-radius: 30px;
  width: 24px;
  height: 24px;
  background-color: #69c536;
  color: white;
  margin-left: 39px;
  font-size: 12px;
  position: relative;
  outline: 2px solid #6ac538;
  outline-offset: 3px;
}
.trustLevel-no {
  line-height: 25px;
}
.table-search-input {
  width: 117px;
  height: 40px;
  border: 0;
  background: #fafafa;
  padding-left: 10px;
}
.table-searchIcon {
  position: absolute;
  top: 9px;
  left: 86px;
}
.tableSearch {
  position: relative;
}
.view {
  display: flex;
  align-items: center;
  width: 105px;
  height: 40px;
  background: white;
  justify-content: space-around;
}
.list,
.grid {
  border-right: 1px solid #ebedf5;
  height: 40px;
  width: 50px;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  color: rgba(17, 42, 90, 1);
  font-weight: 900;
}
.grid {
  border: unset;
}
.filter,
.import,
.add-identities,
.ItemsPer-page,
.pageof {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 146px;
  height: 40px;
  border-right: 1px solid rgba(235, 237, 245, 1);
}
.addIdentnties-icon {
  width: 20px;
}
.filter-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11px;
}
.rightTableFilters {
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: space-between;
}
.tableContainer {
  background-color: #ebedf5;
}
.true,
.false {
  font-weight: 900;
}
.true {
  color: #69c536;
}
.false {
  color: #ff3d3d;
}
.list,
.grid {
  font-size: 13px;
}
.sixFilter {
  display: flex;
  align-items: center;
  height: 40px;
  width: 730px;
  background-color: white;
  font-size: 13px;
  color: rgba(17, 42, 90, 1);
  font-weight: 900;
}
.no {
  width: 20px;
  height: 20px;
  box-shadow: 0 0 2px 4px #f0e6e6;
  display: flex;
  align-items: center;
  margin-right: 10px;
  justify-content: center;
}
tr:hover {
  background-color: #1e99e64a;
}
tr:hover td {
  border-right: 1px solid white;
}
tr:hover .status_content {
  border-right: 0;
}
.table_btn,
.edit,
.delete,
.table_outer_menu,
.close_icon,
.submitBtn_edit,
.cancelBtn_edit,
.toggle {
  cursor: pointer;
}
tr:hover .table_menu_pic {
  display: block;
}
.table_outer_menu {
  position: relative;
}
.table_menu_pic {
  position: absolute;
  top: -10px;
  left: -31px;
  display: none;
}
.monitoring {
  margin-left: 7px;
}
.dashboard {
  margin-left: 22px;
}
.trustLevel_circle2 {
  background-color: #ff3d3d;
  outline: 2px solid #ff3d3d;
  outline-offset: 3px;
}
.trustLevel,
.tcp_tagging {
  width: 100px !important;
}
.comment {
  width: 271px !important;
}
.comment_td {
  max-height: 50px;
  overflow: auto;
}
.disableDiv,
.EnabledDiv {
  position: relative;
}
.edit_delete_table {
  width: 85px;
  background-color: white;
  position: absolute;
  top: 33px;
  left: 95px;
  color: black;
  font-size: 11px;
  line-height: 20px;
  /* padding: 5px 10px; */
  border-radius: 4px;
  z-index: 1;
  display: none;
  /* -webkit-box-shadow: 1px 1px 10px 6px #c4c4c4;
  box-shadow: 1px 1px 10px 6px #c4c4c4; */
}
.status_content.active .edit_delete_table {
  display: block;
}
.popup_edit_outerbg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 641px;
  background-color: rgb(120, 120, 120, 0.5);
  z-index: 1;
  /* display: none; */
}
.popup_table_edit {
  width: 560px;
  height: 451px;
  margin: auto;
  background-color: white;
  position: fixed;
  top: -180%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.popup_edit_outerbg.active .popup_table_edit {
  top: 0;
  /* display: block; */
}
.popup_edit_outerbg.active {
  /* display: block; */
  bottom: 0;
}
.close_icon {
  position: absolute;
  right: 22px;
  top: 9px;
  width: 40px;
}
.table_formOuter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.outer_input {
  display: flex;
  flex-direction: column;
}
.table_formOuter input {
  width: 240px;
  /* height: 44px; */
  margin-bottom: 20px;
}
/* .status_outer {
  display: flex;
  align-items: center;
} */
.inner_table {
  display: flex;
  height: 70%;
  align-items: center;
  border-bottom: 1px solid #787878;
}
.submitBtn_edit,
.cancelBtn_edit {
  width: 126px;
  height: 40px;
  background-color: #0093fc;
  color: white;
  font-size: 11px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 600;
}
.cancelBtn_edit {
  background-color: #d9d9d9;
  color: black;
  width: 80px;
}
.edit_heading {
  font-size: 18px;
  /* margin-top: 5px; */
  color: white;
}
h1 {
  color: green;
}
/* toggle in label designing */
.toggle {
  position: relative;
  display: inline-block;
  width: 96px;
  height: 18px;
  background-color: #ccc;
  border-radius: 30px;
  /* border: 2px solid gray; */
}
/* After slide changes */
.toggle:after {
  content: "";
  position: absolute;
  width: 46px;
  height: 16px;
  border-radius: 10px;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.5s;
}
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
  left: 49px;
}
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
  background-color: #0093fc;
}
/* Checkbox vanished */
.checkbox {
  display: none;
}
.edit:hover,
.delete:hover {
  background-color: #ccd0ff;
}
.edit img,
.delete img {
  width: 20px;
  margin-left: 10px;
}
/* .switch {
  margin-left: 22px;
} */
.edit_heading_outer {
  display: flex;
  align-items: center;
  height: 56px;
  padding-left: 20px;
  background: #0093fc;
}
.edit_heading_img {
  width: 43px;
  margin-right: 10px;
}
textarea {
  width: 513px;
  /* height: 56px; */
  border: 0;
  outline: 0;
  padding-top: 10px;
  margin-bottom: 13px;
  border-bottom: 1px solid rgb(179 165 165);
  max-height: 80px;
  overflow: auto;
  font-family: "Inter";
  font-size: 12px;
  line-height: 16px;
}
.outer_input label,
.status_outer label {
  color: #6d6d6d;
}
.remote_key_status {
  width: 240px;
  height: 61px;
  display: flex;
  justify-content: space-between;
}
.outer_btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 24px;
}
.remote_key_text,
.status_text {
  padding-bottom: 6px;
  font-size: 14px;
}
.switch_status {
  padding-top: 5px;
}
.enable_disable_outer {
  font-size: 10px;
  color: white;
  line-height: 17px;
  text-indent: 13px;
}
.empty_space_status {
  padding-right: 6px;
}
.empty_space_rk {
  padding-right: 21px;
}
.comment_text {
  padding-bottom: 5px;
}
.false_disable {
  color: black;
}
